.text {
    font-size: 15px;
    font-weight: 700;

    &--white-100 { color: $white-100; }
    &--white-80 { color: $white-80; }
    &--white-60 { color: $white-60; }

    &--black-100 { color: $black-100; }
    &--black-80 { color: $black-80; }
    &--black-60 { color: $black-60; }

    &--black-100 { color: $blue-100; }
    &--black-80 { color: $blue-80; }
    &--black-60 { color: $blue-60; }

}