* {
    font-family: 'Space-Mono';
}

.stats_item .item__label {
    font-size: 13px;
}

.stats__item .item__value {
    font-size: 22px;
    font-weight: 600;
}

.theme-switcher__label {
    text-transform: uppercase;
    font-weight: 600;
}

.hero__name {
    font-size: 26px;
    font-weight: 600;
}

.searchbar__error {
    font-weight: 600;
}