.button {
    padding: 8px 16px;
    border-radius: 8px;
    border: 0;
    outline: 0;
    color: $white-100;
    background-color: $blue-60;
    font-family: 'Space-Mono';
    font-weight: 700;
    cursor: pointer;
}